APP_ENV=development # test | development | production
APP_NAME=chi-boilerplate

# HTTP server
SERVER_ADDR=localhost
SERVER_PORT=3002

# Database
DB_DRIVER=mysql
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT=3306
DB_DATABASE=fiber
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_general_ci
DB_LOCATION=UTC # UTC | Local
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=100
DB_CONN_MAX_LIFETIME=1 # In hour

# JWT
JWT_ALGO=ES384 # HS512 | ES384
JWT_LIFETIME=2 # In hour
JWT_SECRET=mySecretKeyForJWT
JWT_PRIVATE_KEY_PATH='./keys/private.ec.pem'
JWT_PUBLIC_KEY_PATH='./keys/public.ec.pem'
